*{
    padding: 0px;
    margin: 0;
}
body{
    font-family:"Microsoft YaHei","Simsun";

}
#top{
    display: block;
    height:58px;
    background-color:#191D3A;
}
.inner_center{                     /*版心*/
    width: 1000px;
    margin:0 auto;
}
.logo{
    float: left;
    width:185px;
    height: 58px;
    background-image: url("博雅作业/images/logo.png");
    margin-right: 58px;
}
#top  ul{
    list-style: none;
}
#top  li{
    float: left;
    text-align: center;
    line-height:58px;
    width: 100px;
    height: 58px;
    border-left:1px solid #252947;
}
#top .border{
    border-right: 1px solid #252947;
}
#top li a{
    display: block;                 /*a转块元素，设置宽高，使整款点击都有链接。*/
    text-decoration: none;
    text-align: center;
    line-height:58px;
    width: 100px;
    height: 58px;
    color: #818496;
    cursor: pointer;
    font-size: 14px;
}
#top li a:hover{
    color: #E2E4ED;
}
#top li:hover{
    background-color: #252947;
}
.jiaruwomen{
    float: left;
    padding-left: 48px;
    padding-top: 12px;
}
.jiaruwomen a{
    display: block;
    width:100px;
    height: 34px;
    background-image: url("博雅作业/images/jrwm.png");
}
.jiaruwomen a:hover{
    color:#E2E4ED;
}
#banner{
    height: 465px;
    background: url("博雅作业/images/banner.jpg") no-repeat center top;
    margin-bottom:50px;
}
#banner .elf {
    width:126px;
    height: 12px;
   /*  background-color: red;             第二种做法，套用innner center类 div直接到中间，使用top下降
    padding-top: 437px; */
    position:absolute;
    top: 490px;
    left:50%;                              /*第一种做法，利用绝对定位，left是居中， top下降高度*/
    margin-left:-56px;
}
#banner .elf ul{
    list-style:none;
}
#banner .elf ul li {
    float:left;
    width:12px;
    height: 12px;
    background: url("博雅作业/images/dian1.fw.png") no-repeat;
    margin-left:15px;
    cursor: pointer;
}
#banner .elf .one{
    margin-left: 0px;
    background: url("博雅作业/images/dian2.fw.png");
}
.content{
    height: 230px;
    border-bottom: 1px solid  #ccc;
}
.content ul{
    list-style-type:none;
}
.content li{
    float: left;
    width:218px;
    height:200px;
    margin-right: 43px;
}
.content li:hover{
    background-color: rgba(210, 227, 233, 1);
}
.content .four{
    width: 217px;
    margin-right: 0px;
}
.content li img{
    width: 100%;
}
.content li h5{
    text-align:center;           /*原网站是用 lineheight行高来写。 这里用margin外边距来写*/
    padding:0;
    margin: 10px;
}
.content li a{
    width: 62px;
    font-size:12px;
    color: #38B774;
    margin-left: 80px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    background: url("博雅作业/images/sanjiaoxing.png") no-repeat right center;
}
.bottom_yuandian{
    width: 117px;
    height: 12px;
    background-color:white;
    position: absolute;
    left: 47%;
    margin:-6px auto ;
    padding-left: 10px;
}
.bottom_yuandian ul{
    list-style-type: none;
}
.bottom_yuandian ul li{
    float: left;
    width: 11px;
    height: 12px;
    padding-left:18px;
    background: url("博雅作业/images/dian1.fw.png") no-repeat;
}
.bottom_yuandian .on{
    background: url("博雅作业/images/dian3.fw.png") no-repeat;
}
.incontent {
    height: 420px;
    padding-top: 54px;
    background:url("博雅作业/images/indexmainbg.jpg")no-repeat bottom;
}
.incontent .photoleft{
    float: left;
    width:500px;
    padding-top: 111px;
    background: url("博雅作业/images/bynewsbg.jpg") no-repeat;
    position: relative;
}
.incontent .photoleft .more{
    width: 66px;
    height: 28px;
    position: absolute;
    top: 38px;
    left: 218px;
    background: url("博雅作业/images/more1.png") no-repeat;
}
.incontent .photoleft ul{
    list-style: none;
    padding: 0 20px;
}
.incontent .photoleft ul li{
    height: 50px;
    border-bottom: 1px solid #ccc;
}
.incontent .photoleft ul li span{
    font-size: 12px;
    color: #B6D4EE;
    line-height: 50px;
}
.incontent .photoleft ul li a{
    padding-left: 12px;
    font-size: 13px;
    text-decoration: none;
}
.incontent .photoringht{
    float: left;
    width:500px;
    height: 285px;
    padding-top: 135px;
    background: url("博雅作业/images/byhrbg3.jpg") no-repeat;
    position: relative;
}
.incontent .photoringht ul{
    list-style:none;
    line-height: 38px;
    padding-left: 20px;
}
.incontent .photoringht ul li{
    width: 305px;
    height:38px;
    border-bottom: 1px solid #6FDEA3;
}
.incontent .photoringht ul li a{
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}
.incontent .photoringht .recruitment_D{
    position: absolute;
    left:80px;
    top: 35px;
}
.incontent .photoringht .recruitment_D .recruitment{
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
}
.incontent .photoringht .zhuanchang{
    font-size: 15px;
    font-weight:bold;
    color: #FFFFFF;
    position: absolute;
    left: 20px;
    top: 116px;
}
.incontent .photoringht .moreTwo{
    width:66px;
    height: 28px;
    background: url("博雅作业/images/more2.png");
    position: absolute;
    top: 39px;
    left: 205px;
}
.foot{
    width: 100%;
    height: 100px;
    background-color: #191D3A;
    clear: both;
}
.foot  .inner_center .infoot_left a{
    line-height: 90px;
    text-decoration: none;
    color: #6C6E7E;
}
.foot  .inner_center span{
    line-height: 90px;
    font-size:12px;
    padding-left: 50px;
    color: #6C6E7E;
}
.foot  .inner_center img {
    vertical-align:middle;
}
